* {
    background-color: gray;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
button {
    width: 5em;
    margin: 1em;
    padding: .5em;
    background-color: white;
    border-radius: 1em;
}
#grid {
    display: flex;
    flex-wrap: wrap;
    width: 72em;
    margin: 1em;
}
#grid div{
    width: 4.5em;
    aspect-ratio: 1 / 1;
    border: 1px solid black
}